NiFiCharybDiskQueue.json
{"flowContents":{"identifier":"fa172ce1-019a-1000-4744-10fcc4c7df07","instanceIdentifier":"b7c04677-5bc2-3925-2ca5-ec5707cdede3","name":"test1","comments":"","position":{"x":-152.0,"y":-288.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fa172cf8-019a-1000-7885-6e98c61e43ae","instanceIdentifier":"842fa2da-ff61-3e85-bbd3-e091ec41529f","name":"200_SuccessResponse","comments":"","position":{"x":-440.0,"y":1680.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"HTTP Context Map":"e733707b-5df7-3c97-a9f6-903465a40246","Attributes to add to the HTTP Response (Regex)":".*","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172ce5-019a-1000-a665-f316b2e02aec","instanceIdentifier":"8da2789d-4c7a-3e16-ac37-efc2f6b1fdf6","name":"RouteOnAttribute","comments":"","position":{"x":-216.0,"y":-384.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"pop":"${http.request.url:endsWith(\"/filequeue/pop\")}","Routing Strategy":"Route to Property name","push":"${http.request.url:endsWith(\"/filequeue/push\")}"},"propertyDescriptors":{"pop":{"name":"pop","displayName":"pop","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"push":{"name":"push","displayName":"push","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172ce7-019a-1000-c820-a09719f24056","instanceIdentifier":"962cbd2a-4e6b-376a-5e8f-cf71991eb13b","name":"404_NotFoundResponse","comments":"","position":{"x":472.0,"y":-368.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"HTTP Context Map":"e733707b-5df7-3c97-a9f6-903465a40246","Attributes to add to the HTTP Response (Regex)":".*","HTTP Status Code":"404"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa2f9c57-019a-1000-0fd2-e4f58796a813","instanceIdentifier":"1014c3bd-96a1-3a90-4e8a-edcc35e84580","name":"Notify","comments":"","position":{"x":-432.0,"y":784.0},"type":"org.apache.nifi.processors.standard.Notify","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"signal-counter-delta":"0","distributed-cache-service":"f5a438d7-dd8e-3798-a986-b62a0e08fdbd","signal-buffer-count":"1","release-signal-id":"pop_filequeue","signal-counter-name":"pop_filequeue","attribute-cache-regex":null},"propertyDescriptors":{"signal-counter-delta":{"name":"signal-counter-delta","displayName":"Signal Counter Delta","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"signal-buffer-count":{"name":"signal-buffer-count","displayName":"Signal Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-cache-regex":{"name":"attribute-cache-regex","displayName":"Attribute Cache Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172ce2-019a-1000-5c5c-7ec522c503c8","instanceIdentifier":"c5fa222f-f208-3da1-c11e-7ed7be22e5f1","name":"RouteOnAttribute","comments":"","position":{"x":-432.0,"y":1232.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Routing Strategy":"Route to Property name","merged":"${merge.count:gt(1)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"merged":{"name":"merged","displayName":"merged","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172cf9-019a-1000-4fff-df9163bf8f29","instanceIdentifier":"d73fe78a-0236-3dcc-3f6e-bc87c9e048f8","name":"200_PushOK","comments":"","position":{"x":-856.0,"y":104.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"HTTP Context Map":"e733707b-5df7-3c97-a9f6-903465a40246","Attributes to add to the HTTP Response (Regex)":null,"Response Body":"OK","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body":{"name":"Response Body","displayName":"Response Body","identifiesControllerService":false,"sensitive":false,"dynamic":true},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172cf2-019a-1000-b636-bdaf3f87efa7","instanceIdentifier":"300d3f47-9224-3689-bdd2-adf58f998944","name":"204_EmptyResponse","comments":"","position":{"x":240.0,"y":1248.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"HTTP Context Map":"e733707b-5df7-3c97-a9f6-903465a40246","Attributes to add to the HTTP Response (Regex)":".*","HTTP Status Code":"204"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172cf7-019a-1000-13b0-b2f25e61c3ac","instanceIdentifier":"80824a28-9be1-3dc7-b37d-8550b6bf0a87","name":"ReplaceText","comments":"","position":{"x":-840.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"OK","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172cf1-019a-1000-887d-b4ab0e4c9999","instanceIdentifier":"4e412e40-fe43-3d8c-be04-22e0138c385d","name":"500_FailureResponse","comments":"","position":{"x":736.0,"y":752.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"HTTP Context Map":"e733707b-5df7-3c97-a9f6-903465a40246","Attributes to add to the HTTP Response (Regex)":".*","HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa39480d-019a-1000-7717-07275b40d842","instanceIdentifier":"533cbf94-3505-30eb-1e3a-de672ab4b324","name":"Notify","comments":"","position":{"x":32.0,"y":784.0},"type":"org.apache.nifi.processors.standard.Notify","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"signal-counter-delta":"0","distributed-cache-service":"f5a438d7-dd8e-3798-a986-b62a0e08fdbd","signal-buffer-count":"1","release-signal-id":"pop_filequeue","signal-counter-name":"pop_filequeue","attribute-cache-regex":null},"propertyDescriptors":{"signal-counter-delta":{"name":"signal-counter-delta","displayName":"Signal Counter Delta","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"signal-buffer-count":{"name":"signal-buffer-count","displayName":"Signal Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-cache-regex":{"name":"attribute-cache-regex","displayName":"Attribute Cache Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172cef-019a-1000-bcf9-f0fa39752456","instanceIdentifier":"139c19af-7221-3629-1452-27e3020227db","name":"MergeContent","comments":"","position":{"x":-192.0,"y":544.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172cf5-019a-1000-6b40-8ca250372319","instanceIdentifier":"b81e26cc-6826-30f8-9f82-9fd10f370080","name":"HandleHttpRequest","comments":"","position":{"x":-208.0,"y":-624.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"multipart-request-max-size":"300 MB","parameters-to-attributes":null,"Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"true","Request Header Maximum Size":"80 KB","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"e733707b-5df7-3c97-a9f6-903465a40246","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":null,"Allow GET":"true","Allow HEAD":"false","Listening Port":"8082","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Maximum Size":{"name":"Request Header Maximum Size","displayName":"Request Header Maximum Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false,"dynamic":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172cfa-019a-1000-f7ab-8a26e1dfbee0","instanceIdentifier":"c12697a4-561e-3029-6c5b-857e8b39e3f6","name":"LogMessage","comments":"","position":{"x":-744.0,"y":496.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"816869ef-c5fa-336b-98a3-8a9931443d36","instanceIdentifier":"fa41a04d-019a-1000-407f-5f0b66d7b448","name":"NukeHttpContext","comments":"","position":{"x":-376.0,"y":-72.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Delete Attributes Expression":".*http\\.context.*","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172cec-019a-1000-6212-4ada8215137c","instanceIdentifier":"62a872be-b6ef-3a79-26f4-133176a7db7d","name":"Notify","comments":"","position":{"x":152.0,"y":160.0},"type":"org.apache.nifi.processors.standard.Notify","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"signal-counter-delta":"1","distributed-cache-service":"f5a438d7-dd8e-3798-a986-b62a0e08fdbd","signal-buffer-count":"1","release-signal-id":"pop_filequeue","signal-counter-name":"pop_filequeue","attribute-cache-regex":null},"propertyDescriptors":{"signal-counter-delta":{"name":"signal-counter-delta","displayName":"Signal Counter Delta","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"signal-buffer-count":{"name":"signal-buffer-count","displayName":"Signal Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-cache-regex":{"name":"attribute-cache-regex","displayName":"Attribute Cache Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"a349862c-4018-33f6-b5d2-2537ad8b2d62","instanceIdentifier":"fa67a77b-019a-1000-4657-6bf3a7e0f2d7","name":"UpdateAttribute","comments":"","position":{"x":-432.0,"y":1456.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","X-File-Name":"${http.headers.X-File-Name} ","X-Original-File-Name-B64":"${http.headers.X-Original-File-Name-B64}","Stateful Variables Initial Value":null,"X-Create-Timestamp":"${http.headers.X-Create-Timestamp}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"X-File-Name":{"name":"X-File-Name","displayName":"X-File-Name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"X-Original-File-Name-B64":{"name":"X-Original-File-Name-B64","displayName":"X-Original-File-Name-B64","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"X-Create-Timestamp":{"name":"X-Create-Timestamp","displayName":"X-Create-Timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172cf3-019a-1000-2e0d-754445341eaf","instanceIdentifier":"d40a84ca-756c-3bc3-3370-aa3c024d6928","name":"Wait","comments":"","position":{"x":-432.0,"y":240.0},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"wait-buffer-count":"1","wait-mode":"keep","attribute-copy-mode":"keeporiginal","distributed-cache-service":"f5a438d7-dd8e-3798-a986-b62a0e08fdbd","releasable-flowfile-count":"1","release-signal-id":"pop_filequeue","signal-counter-name":"pop_filequeue","expiration-duration":"90 min","target-signal-count":"1","wait-penalty-duration":null},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["wait"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["wait","expired"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"fa172d09-019a-1000-9e42-ddcc49bc332b","instanceIdentifier":"6852055d-5500-37d7-f8f1-5876b45b2b8f","name":"","source":{"id":"fa172ce5-019a-1000-a665-f316b2e02aec","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8da2789d-4c7a-3e16-ac37-efc2f6b1fdf6"},"destination":{"id":"816869ef-c5fa-336b-98a3-8a9931443d36","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"NukeHttpContext","comments":"","instanceIdentifier":"fa41a04d-019a-1000-407f-5f0b66d7b448"},"labelIndex":0,"zIndex":16,"selectedRelationships":["push"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"19314e30-a158-36dc-a4da-fd10fec8e100","instanceIdentifier":"fa356ad2-019a-1000-68cc-635680827d19","name":"","source":{"id":"fa172ce5-019a-1000-a665-f316b2e02aec","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8da2789d-4c7a-3e16-ac37-efc2f6b1fdf6"},"destination":{"id":"fa172cf7-019a-1000-13b0-b2f25e61c3ac","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"ReplaceText","comments":"","instanceIdentifier":"80824a28-9be1-3dc7-b37d-8550b6bf0a87"},"labelIndex":0,"zIndex":53,"selectedRelationships":["push"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172d04-019a-1000-8d67-502aaa4a57d7","instanceIdentifier":"359f8098-9bb3-36c5-4d1a-fe29a9fad8eb","name":"","source":{"id":"fa172cef-019a-1000-bcf9-f0fa39752456","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"MergeContent","comments":"","instanceIdentifier":"139c19af-7221-3629-1452-27e3020227db"},"destination":{"id":"fa2f9c57-019a-1000-0fd2-e4f58796a813","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"Notify","comments":"","instanceIdentifier":"1014c3bd-96a1-3a90-4e8a-edcc35e84580"},"labelIndex":0,"zIndex":8,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"0373cd97-edfa-3bba-80ad-26cce11b43ff","instanceIdentifier":"fa8e20fd-019a-1000-7914-caf4d9d60d3e","name":"","source":{"id":"fa172cef-019a-1000-bcf9-f0fa39752456","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"MergeContent","comments":"","instanceIdentifier":"139c19af-7221-3629-1452-27e3020227db"},"destination":{"id":"68a26b9b-d552-3d15-8e05-9b59e8dfe75b","type":"FUNNEL","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"Funnel","comments":"","instanceIdentifier":"fa8dba36-019a-1000-0c42-6a25f416ae63"},"labelIndex":0,"zIndex":65,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"a03088cb-dec2-3390-97a8-2b86ebbace3f","instanceIdentifier":"fa38d37d-019a-1000-8e77-039718107046","name":"","source":{"id":"fa2f9c57-019a-1000-0fd2-e4f58796a813","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"Notify","comments":"","instanceIdentifier":"1014c3bd-96a1-3a90-4e8a-edcc35e84580"},"destination":{"id":"fa172ce2-019a-1000-5c5c-7ec522c503c8","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c5fa222f-f208-3da1-c11e-7ed7be22e5f1"},"labelIndex":0,"zIndex":55,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"c4689159-c0c0-301f-b202-d8f517ad9289","instanceIdentifier":"fa8d3453-019a-1000-9565-9e087d2fb50a","name":"","source":{"id":"fa172cfa-019a-1000-f7ab-8a26e1dfbee0","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"LogMessage","comments":"","instanceIdentifier":"c12697a4-561e-3029-6c5b-857e8b39e3f6"},"destination":{"id":"874f7e70-a7ad-3ae1-8db4-ef48b943d443","type":"FUNNEL","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"Funnel","comments":"","instanceIdentifier":"fa8d0f16-019a-1000-ba4b-c404c8b30ed6"},"labelIndex":0,"zIndex":63,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172d27-019a-1000-b5bc-976988effbc7","instanceIdentifier":"9a00510f-227c-385c-8546-29aaa45f7be9","name":"","source":{"id":"fa172ce2-019a-1000-5c5c-7ec522c503c8","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c5fa222f-f208-3da1-c11e-7ed7be22e5f1"},"destination":{"id":"a349862c-4018-33f6-b5d2-2537ad8b2d62","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"UpdateAttribute","comments":"","instanceIdentifier":"fa67a77b-019a-1000-4657-6bf3a7e0f2d7"},"labelIndex":0,"zIndex":42,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172d1c-019a-1000-dfa9-abb73e5b2b55","instanceIdentifier":"b158bc23-14cd-39ca-cac2-9fb785b49b43","name":"","source":{"id":"fa172cf3-019a-1000-2e0d-754445341eaf","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"Wait","comments":"","instanceIdentifier":"d40a84ca-756c-3bc3-3370-aa3c024d6928"},"destination":{"id":"fa172cfa-019a-1000-f7ab-8a26e1dfbee0","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"LogMessage","comments":"","instanceIdentifier":"c12697a4-561e-3029-6c5b-857e8b39e3f6"},"labelIndex":0,"zIndex":30,"selectedRelationships":["expired","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"a8c40d62-079a-3a69-ba4e-5519b44ac37c","instanceIdentifier":"fa3f04a7-019a-1000-2094-658738226c3b","name":"","source":{"id":"fa172cf5-019a-1000-6b40-8ca250372319","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"HandleHttpRequest","comments":"","instanceIdentifier":"b81e26cc-6826-30f8-9f82-9fd10f370080"},"destination":{"id":"fa172ce5-019a-1000-a665-f316b2e02aec","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8da2789d-4c7a-3e16-ac37-efc2f6b1fdf6"},"labelIndex":0,"zIndex":58,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fc691ade-aada-3278-a8c8-4b15dd8fe5ed","instanceIdentifier":"fa9118f4-019a-1000-5eff-689b3e40b2a3","name":"","source":{"id":"fa172cf9-019a-1000-4fff-df9163bf8f29","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"200_PushOK","comments":"","instanceIdentifier":"d73fe78a-0236-3dcc-3f6e-bc87c9e048f8"},"destination":{"id":"292580ad-33d5-32f2-8cc1-305e7b797914","type":"FUNNEL","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"Funnel","comments":"","instanceIdentifier":"fa8fe6fb-019a-1000-54b7-a6d6312961be"},"labelIndex":0,"zIndex":66,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"360000 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"40784cb5-9fcd-3caa-a2b0-d3350a68dc28","instanceIdentifier":"fa31bafb-019a-1000-a426-980f1ea015b6","name":"","source":{"id":"fa172cef-019a-1000-bcf9-f0fa39752456","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"MergeContent","comments":"","instanceIdentifier":"139c19af-7221-3629-1452-27e3020227db"},"destination":{"id":"fa39480d-019a-1000-7717-07275b40d842","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"Notify","comments":"","instanceIdentifier":"533cbf94-3505-30eb-1e3a-de672ab4b324"},"labelIndex":0,"zIndex":50,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"19929b9e-4eac-3962-8f1b-7c3f3c25f49c","instanceIdentifier":"fa420b16-019a-1000-f650-8a7527b2e5a5","name":"","source":{"id":"816869ef-c5fa-336b-98a3-8a9931443d36","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"NukeHttpContext","comments":"","instanceIdentifier":"fa41a04d-019a-1000-407f-5f0b66d7b448"},"destination":{"id":"fa172cf3-019a-1000-2e0d-754445341eaf","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"Wait","comments":"","instanceIdentifier":"d40a84ca-756c-3bc3-3370-aa3c024d6928"},"labelIndex":0,"zIndex":59,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"6d8e9df3-979c-3fd0-95ac-e6d64e124ebe","instanceIdentifier":"fa33c1cd-019a-1000-0004-49fa073c5603","name":"","source":{"id":"fa172cec-019a-1000-6212-4ada8215137c","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"Notify","comments":"","instanceIdentifier":"62a872be-b6ef-3a79-26f4-133176a7db7d"},"destination":{"id":"fa172cef-019a-1000-bcf9-f0fa39752456","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"MergeContent","comments":"","instanceIdentifier":"139c19af-7221-3629-1452-27e3020227db"},"labelIndex":0,"zIndex":52,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"3e5adb1a-429e-3dc4-92ce-97cdb212c154","instanceIdentifier":"fa6a1fb8-019a-1000-82f5-14b7af0d2001","name":"","source":{"id":"a349862c-4018-33f6-b5d2-2537ad8b2d62","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"UpdateAttribute","comments":"","instanceIdentifier":"fa67a77b-019a-1000-4657-6bf3a7e0f2d7"},"destination":{"id":"fa172cf8-019a-1000-7885-6e98c61e43ae","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"200_SuccessResponse","comments":"","instanceIdentifier":"842fa2da-ff61-3e85-bbd3-e091ec41529f"},"labelIndex":0,"zIndex":62,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"546cc85b-f8c6-35b2-8b48-0c3fbb4c087b","instanceIdentifier":"fa39790b-019a-1000-a396-026cefe42764","name":"","source":{"id":"fa39480d-019a-1000-7717-07275b40d842","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"Notify","comments":"","instanceIdentifier":"533cbf94-3505-30eb-1e3a-de672ab4b324"},"destination":{"id":"fa172cf1-019a-1000-887d-b4ab0e4c9999","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"500_FailureResponse","comments":"","instanceIdentifier":"4e412e40-fe43-3d8c-be04-22e0138c385d"},"labelIndex":0,"zIndex":56,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172d1d-019a-1000-a95e-f188082a0321","instanceIdentifier":"18a3b702-caba-363a-dee2-10175ff0cfe7","name":"","source":{"id":"fa172ce5-019a-1000-a665-f316b2e02aec","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8da2789d-4c7a-3e16-ac37-efc2f6b1fdf6"},"destination":{"id":"fa172ce7-019a-1000-c820-a09719f24056","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"404_NotFoundResponse","comments":"","instanceIdentifier":"962cbd2a-4e6b-376a-5e8f-cf71991eb13b"},"labelIndex":0,"zIndex":12,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"ddd6522d-c07e-32d6-8b30-971576874f2c","instanceIdentifier":"fa35940a-019a-1000-cd81-3284b21e19e0","name":"","source":{"id":"fa172cf7-019a-1000-13b0-b2f25e61c3ac","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"ReplaceText","comments":"","instanceIdentifier":"80824a28-9be1-3dc7-b37d-8550b6bf0a87"},"destination":{"id":"fa172cf9-019a-1000-4fff-df9163bf8f29","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"200_PushOK","comments":"","instanceIdentifier":"d73fe78a-0236-3dcc-3f6e-bc87c9e048f8"},"labelIndex":0,"zIndex":54,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"6ff75aba-4ca4-3e26-884c-289389bf0b5d","instanceIdentifier":"fa3a873c-019a-1000-15de-8afcb946644b","name":"","source":{"id":"fa172cf3-019a-1000-2e0d-754445341eaf","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"Wait","comments":"","instanceIdentifier":"d40a84ca-756c-3bc3-3370-aa3c024d6928"},"destination":{"id":"fa172cef-019a-1000-bcf9-f0fa39752456","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"MergeContent","comments":"","instanceIdentifier":"139c19af-7221-3629-1452-27e3020227db"},"labelIndex":0,"zIndex":57,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"fa172d0a-019a-1000-d9c4-d87a72608579","instanceIdentifier":"e781947c-1457-329d-99ad-7bfe0349cc9a","name":"","source":{"id":"fa172cec-019a-1000-6212-4ada8215137c","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"Notify","comments":"","instanceIdentifier":"62a872be-b6ef-3a79-26f4-133176a7db7d"},"destination":{"id":"fa172cf1-019a-1000-887d-b4ab0e4c9999","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"500_FailureResponse","comments":"","instanceIdentifier":"4e412e40-fe43-3d8c-be04-22e0138c385d"},"labelIndex":0,"zIndex":6,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"783fe04c-b26b-3bea-9c46-a95ffb86adfb","instanceIdentifier":"fa2cc618-019a-1000-1cfa-9b6d97f53f46","name":"","source":{"id":"fa172ce5-019a-1000-a665-f316b2e02aec","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8da2789d-4c7a-3e16-ac37-efc2f6b1fdf6"},"destination":{"id":"fa172cec-019a-1000-6212-4ada8215137c","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"Notify","comments":"","instanceIdentifier":"62a872be-b6ef-3a79-26f4-133176a7db7d"},"labelIndex":0,"zIndex":47,"selectedRelationships":["pop"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"0f13f6eb-6c77-3cad-9aee-67f4a9e58e77","instanceIdentifier":"fa2efa3d-019a-1000-e5b0-e13e5a5fc3ed","name":"","source":{"id":"fa172ce2-019a-1000-5c5c-7ec522c503c8","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c5fa222f-f208-3da1-c11e-7ed7be22e5f1"},"destination":{"id":"fa172cf2-019a-1000-b636-bdaf3f87efa7","type":"PROCESSOR","groupId":"fa172ce1-019a-1000-4744-10fcc4c7df07","name":"204_EmptyResponse","comments":"","instanceIdentifier":"300d3f47-9224-3689-bdd2-adf58f998944"},"labelIndex":0,"zIndex":48,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"}],"labels":[],"funnels":[{"identifier":"68a26b9b-d552-3d15-8e05-9b59e8dfe75b","instanceIdentifier":"fa8dba36-019a-1000-0c42-6a25f416ae63","position":{"x":-40.0,"y":1064.0},"componentType":"FUNNEL","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"874f7e70-a7ad-3ae1-8db4-ef48b943d443","instanceIdentifier":"fa8d0f16-019a-1000-ba4b-c404c8b30ed6","position":{"x":-600.0,"y":760.0},"componentType":"FUNNEL","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"},{"identifier":"292580ad-33d5-32f2-8cc1-305e7b797914","instanceIdentifier":"fa8fe6fb-019a-1000-54b7-a6d6312961be","position":{"x":-740.282783025634,"y":366.1395563254364},"componentType":"FUNNEL","groupIdentifier":"fa172ce1-019a-1000-4744-10fcc4c7df07"}],"controllerServices":[{"identifier":"e733707b-5df7-3c97-a9f6-903465a40246","instanceIdentifier":"f40755d6-019a-1000-bdc1-94771a38cdfc","name":"StandardHttpContextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"2.6.0"},"properties":{"Request Expiration":"5 min","Maximum Outstanding Requests":"50000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b7c04677-5bc2-3925-2ca5-ec5707cdede3"},{"identifier":"f5a438d7-dd8e-3798-a986-b62a0e08fdbd","instanceIdentifier":"f40ef1ef-019a-1000-1781-60058d715589","name":"MapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.6.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b7c04677-5bc2-3925-2ca5-ec5707cdede3"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}