tools/http-test-server/data/upload/done/test.json
{"flowContents":{"identifier":"b541fd8b-3e35-3f34-9518-83d6127b1488","instanceIdentifier":"3b6aef35-019a-1000-ecec-1a407a6cfa46","name":"test","comments":"","position":{"x":232.0,"y":40.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ad996423-7e5a-3d9c-b3a7-b0b0107ea127","instanceIdentifier":"d108358e-019a-1000-0755-d834fb56abb2","name":"Notify","comments":"","position":{"x":1880.0,"y":104.0},"type":"org.apache.nifi.processors.standard.Notify","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"signal-counter-delta":"1","distributed-cache-service":"7fbf4798-170c-30bc-a97e-290974f59219","signal-buffer-count":"1","release-signal-id":"broadcast","signal-counter-name":"go","attribute-cache-regex":null},"propertyDescriptors":{"signal-counter-delta":{"name":"signal-counter-delta","displayName":"Signal Counter Delta","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"signal-buffer-count":{"name":"signal-buffer-count","displayName":"Signal Buffer Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"attribute-cache-regex":{"name":"attribute-cache-regex","displayName":"Attribute Cache Regex","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"32b3bddc-e1a9-31f6-90a3-f6e3f37328fb","instanceIdentifier":"d111d265-019a-1000-89cc-2c22dde191fc","name":"HandleHttpResponse","comments":"","position":{"x":1736.0,"y":904.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"HTTP Context Map":"a6ecfb5e-7df0-3dd0-b1e8-a442baecfbe5","Attributes to add to the HTTP Response (Regex)":".*","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"f4fc089d-91cf-3abb-9235-519cb47958c2","instanceIdentifier":"d107779a-019a-1000-190e-1452c3778df2","name":"UpdateAttribute","comments":"","position":{"x":1648.0,"y":-168.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","request.uuid":"${uuid}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"request.uuid":{"name":"request.uuid","displayName":"request.uuid","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"6f6e5ea6-4f6f-3b2f-bb46-05393c5f80a7","instanceIdentifier":"d07e7385-019a-1000-2013-69d5b3740b04","name":"PutFile","comments":"","position":{"x":960.0,"y":16.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/nifi-current/state","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"ef549caf-4149-3c0a-b1ea-37f619b84852","instanceIdentifier":"d08773ec-019a-1000-65fb-4c00f881759e","name":"LogMessage","comments":"","position":{"x":1256.0,"y":600.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"log-message":"log","log-level":"info","log-prefix":"http_testin"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"75b337ed-1d7a-3731-ad8c-3a43414034ed","instanceIdentifier":"d0d7d062-019a-1000-b58f-c90e55ca832e","name":"HandleHttpRequest","comments":"","position":{"x":1160.0,"y":-640.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"multipart-request-max-size":"10 MB","parameters-to-attributes":"http.multipart.filename","Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"false","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"a6ecfb5e-7df0-3dd0-b1e8-a442baecfbe5","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":null,"Allow GET":"true","Allow HEAD":"false","Listening Port":"8082","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"27a6a02b-b11c-34c2-9400-ec6eef6269e7","instanceIdentifier":"d15eee9c-019a-1000-6775-ddca4f3e726c","name":"Notify","comments":"","position":{"x":1432.0,"y":288.0},"type":"org.apache.nifi.processors.standard.Notify","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"signal-counter-delta":"1","distributed-cache-service":"7fbf4798-170c-30bc-a97e-290974f59219","signal-buffer-count":"1","release-signal-id":"broadcast","signal-counter-name":"go","attribute-cache-regex":null},"propertyDescriptors":{"signal-counter-delta":{"name":"signal-counter-delta","displayName":"Signal Counter Delta","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"signal-buffer-count":{"name":"signal-buffer-count","displayName":"Signal Buffer Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"attribute-cache-regex":{"name":"attribute-cache-regex","displayName":"Attribute Cache Regex","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"9f0475aa-ea5e-3234-82b9-725d713c1125","instanceIdentifier":"d0e4bc36-019a-1000-7963-32b6e73667e3","name":"HandleHttpResponse","comments":"","position":{"x":968.0,"y":232.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"HTTP Context Map":"a6ecfb5e-7df0-3dd0-b1e8-a442baecfbe5","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"17bb2b46-21a3-339a-935a-b9463d5a97af","instanceIdentifier":"d0914120-019a-1000-20cb-5182e61a2680","name":"UpdateAttribute","comments":"","position":{"x":952.0,"y":-176.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.0"},"properties":{"Delete Attributes Expression":null,"filename":"${http.multipart.filename}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","request.uuid":"broadcast","queue.ts":"${now():toNumber()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"request.uuid":{"name":"request.uuid","displayName":"request.uuid","identifiesControllerService":false,"sensitive":false},"queue.ts":{"name":"queue.ts","displayName":"queue.ts","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"506baabd-4a17-36a9-9767-2c106e8ce14d","instanceIdentifier":"d19a776e-019a-1000-aa70-02d302bfcda4","name":"MergeContent","comments":"","position":{"x":1752.0,"y":648.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"2","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"FlowFile Stream, v3","Footer File":null,"Max Bin Age":"10 min","Demarcator File":null,"Correlation Attribute Name":"request.uuid","Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"2"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"10df4343-12ae-3a72-8f39-f84ca469baa6","instanceIdentifier":"d1128bff-019a-1000-1bc2-6208288a97d7","name":"HandleHttpResponse","comments":"","position":{"x":2208.0,"y":888.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"HTTP Context Map":"a6ecfb5e-7df0-3dd0-b1e8-a442baecfbe5","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"204"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"e6e6a0fe-d650-32e0-ba44-70afed7bb096","instanceIdentifier":"d10fdeef-019a-1000-ae72-e5f09c42bd2a","name":"Wait","comments":"","position":{"x":2024.0,"y":320.0},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"wait-buffer-count":"1","wait-mode":"wait","attribute-copy-mode":"replace","distributed-cache-service":"7fbf4798-170c-30bc-a97e-290974f59219","releasable-flowfile-count":"2","release-signal-id":"broadcast","signal-counter-name":"go","expiration-duration":"10 min","target-signal-count":"1","wait-penalty-duration":null},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"fc65d313-f76d-3ff0-beae-6c13be0534ad","instanceIdentifier":"d15cf74c-019a-1000-a600-7fb40cec8b08","name":"UpdateAttribute","comments":"","position":{"x":1400.0,"y":72.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","signal.go":"1","request.uuid":"broadcast","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"signal.go":{"name":"signal.go","displayName":"signal.go","identifiesControllerService":false,"sensitive":false},"request.uuid":{"name":"request.uuid","displayName":"request.uuid","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"8e1f8ebf-7542-3be4-9a76-317c8b9efa72","instanceIdentifier":"d07be9cc-019a-1000-f05e-1bdf26cb922e","name":"ListenHTTP","comments":"","position":{"x":536.0,"y":-360.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":".*","health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"test_in","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"8082"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"b74d7057-7907-3b8e-b24d-c628ba74d4ad","instanceIdentifier":"d182d503-019a-1000-954c-637530671375","name":"RouteOnAttribute","comments":"","position":{"x":1152.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"GET_out":"${http.method:equals(\"GET\"):and(${http.request.uri:equals(\"/test_out\")})}","Routing Strategy":"Route to Property name","POST_in":"${http.method:equals(\"POST\"):and(${http.request.uri:equals(\"/test_in\")})}"},"propertyDescriptors":{"GET_out":{"name":"GET_out","displayName":"GET_out","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"POST_in":{"name":"POST_in","displayName":"POST_in","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3af45b33-2d5b-33d7-b437-ab6c14b0eeee","instanceIdentifier":"d15f1ba8-019a-1000-4e2c-d46fc2d41c4b","name":"","source":{"id":"fc65d313-f76d-3ff0-beae-6c13be0534ad","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"UpdateAttribute","comments":"","instanceIdentifier":"d15cf74c-019a-1000-a600-7fb40cec8b08"},"destination":{"id":"27a6a02b-b11c-34c2-9400-ec6eef6269e7","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"Notify","comments":"","instanceIdentifier":"d15eee9c-019a-1000-6775-ddca4f3e726c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"c5fd97a8-8db7-3ce3-9fa9-765082047933","instanceIdentifier":"d09253f9-019a-1000-08a3-10e7a89ffc81","name":"","source":{"id":"17bb2b46-21a3-339a-935a-b9463d5a97af","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"UpdateAttribute","comments":"","instanceIdentifier":"d0914120-019a-1000-20cb-5182e61a2680"},"destination":{"id":"6f6e5ea6-4f6f-3b2f-bb46-05393c5f80a7","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"PutFile","comments":"","instanceIdentifier":"d07e7385-019a-1000-2013-69d5b3740b04"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"c1e0e9cc-cb73-3ea8-b295-0e30ddad653c","instanceIdentifier":"d1861211-019a-1000-7f1d-a9a066c430f6","name":"","source":{"id":"b74d7057-7907-3b8e-b24d-c628ba74d4ad","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"RouteOnAttribute","comments":"","instanceIdentifier":"d182d503-019a-1000-954c-637530671375"},"destination":{"id":"f4fc089d-91cf-3abb-9235-519cb47958c2","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"UpdateAttribute","comments":"","instanceIdentifier":"d107779a-019a-1000-190e-1452c3778df2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["GET_out"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"056b336d-3dbd-372f-bc4e-87ff20fc1bb1","instanceIdentifier":"d1100d26-019a-1000-6c69-12504de1ccef","name":"","source":{"id":"ad996423-7e5a-3d9c-b3a7-b0b0107ea127","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"Notify","comments":"","instanceIdentifier":"d108358e-019a-1000-0755-d834fb56abb2"},"destination":{"id":"e6e6a0fe-d650-32e0-ba44-70afed7bb096","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"Wait","comments":"","instanceIdentifier":"d10fdeef-019a-1000-ae72-e5f09c42bd2a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"e47a21a9-69b0-306f-9823-b6701ae9982c","instanceIdentifier":"d1a9be4f-019a-1000-797b-7a063392ac03","name":"","source":{"id":"506baabd-4a17-36a9-9767-2c106e8ce14d","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"MergeContent","comments":"","instanceIdentifier":"d19a776e-019a-1000-aa70-02d302bfcda4"},"destination":{"id":"ef549caf-4149-3c0a-b1ea-37f619b84852","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"LogMessage","comments":"","instanceIdentifier":"d08773ec-019a-1000-65fb-4c00f881759e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"133efd1d-a851-358a-aa08-68db9919a67e","instanceIdentifier":"d19c5623-019a-1000-abda-7902997259eb","name":"","source":{"id":"e6e6a0fe-d650-32e0-ba44-70afed7bb096","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"Wait","comments":"","instanceIdentifier":"d10fdeef-019a-1000-ae72-e5f09c42bd2a"},"destination":{"id":"506baabd-4a17-36a9-9767-2c106e8ce14d","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"MergeContent","comments":"","instanceIdentifier":"d19a776e-019a-1000-aa70-02d302bfcda4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"15112f5c-ed93-3076-aedc-347c6ae14323","instanceIdentifier":"d1a22e76-019a-1000-06b9-4ec3f75654ac","name":"","source":{"id":"27a6a02b-b11c-34c2-9400-ec6eef6269e7","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"Notify","comments":"","instanceIdentifier":"d15eee9c-019a-1000-6775-ddca4f3e726c"},"destination":{"id":"ef549caf-4149-3c0a-b1ea-37f619b84852","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"LogMessage","comments":"","instanceIdentifier":"d08773ec-019a-1000-65fb-4c00f881759e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"5417cd7d-c150-3786-9273-d741aa015ffa","instanceIdentifier":"d1024f9a-019a-1000-97f9-9d5cbc56e163","name":"","source":{"id":"ec19f93e-e656-3f5a-ae7d-0c5669feffdd","type":"FUNNEL","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"Funnel","comments":"","instanceIdentifier":"d0e064cb-019a-1000-afc1-da39aa5c4900"},"destination":{"id":"fc65d313-f76d-3ff0-beae-6c13be0534ad","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"UpdateAttribute","comments":"","instanceIdentifier":"d15cf74c-019a-1000-a600-7fb40cec8b08"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.OldestFlowFileFirstPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"0ebaa59b-9c9d-37e1-a233-dda39c70e193","instanceIdentifier":"d185df3a-019a-1000-87c1-d3f5cf53fbc0","name":"","source":{"id":"b74d7057-7907-3b8e-b24d-c628ba74d4ad","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"RouteOnAttribute","comments":"","instanceIdentifier":"d182d503-019a-1000-954c-637530671375"},"destination":{"id":"17bb2b46-21a3-339a-935a-b9463d5a97af","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"UpdateAttribute","comments":"","instanceIdentifier":"d0914120-019a-1000-20cb-5182e61a2680"},"labelIndex":1,"zIndex":0,"selectedRelationships":["POST_in"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"8c837603-5fa2-31c8-9e24-10709364d8f4","instanceIdentifier":"d1a9ac79-019a-1000-d38a-63207d1f07b5","name":"","source":{"id":"506baabd-4a17-36a9-9767-2c106e8ce14d","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"MergeContent","comments":"","instanceIdentifier":"d19a776e-019a-1000-aa70-02d302bfcda4"},"destination":{"id":"32b3bddc-e1a9-31f6-90a3-f6e3f37328fb","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"HandleHttpResponse","comments":"","instanceIdentifier":"d111d265-019a-1000-89cc-2c22dde191fc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"e5084e69-4a2a-3238-9538-2010b26cfbbd","instanceIdentifier":"d1a24b5c-019a-1000-56f1-258cf8a41789","name":"","source":{"id":"27a6a02b-b11c-34c2-9400-ec6eef6269e7","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"Notify","comments":"","instanceIdentifier":"d15eee9c-019a-1000-6775-ddca4f3e726c"},"destination":{"id":"506baabd-4a17-36a9-9767-2c106e8ce14d","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"MergeContent","comments":"","instanceIdentifier":"d19a776e-019a-1000-aa70-02d302bfcda4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"0c6e9204-fd96-3e6b-9721-5d4171086d28","instanceIdentifier":"d0e68ef2-019a-1000-1820-06beca73ae6c","name":"","source":{"id":"9f0475aa-ea5e-3234-82b9-725d713c1125","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"HandleHttpResponse","comments":"","instanceIdentifier":"d0e4bc36-019a-1000-7963-32b6e73667e3"},"destination":{"id":"ef549caf-4149-3c0a-b1ea-37f619b84852","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"LogMessage","comments":"","instanceIdentifier":"d08773ec-019a-1000-65fb-4c00f881759e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"1684c083-879e-3009-bc24-dcf6be9ed22d","instanceIdentifier":"d0879a5d-019a-1000-8043-e4942e54f2ab","name":"","source":{"id":"6f6e5ea6-4f6f-3b2f-bb46-05393c5f80a7","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"PutFile","comments":"","instanceIdentifier":"d07e7385-019a-1000-2013-69d5b3740b04"},"destination":{"id":"9f0475aa-ea5e-3234-82b9-725d713c1125","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"HandleHttpResponse","comments":"","instanceIdentifier":"d0e4bc36-019a-1000-7963-32b6e73667e3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"a7800d13-30cb-39a6-873c-0b6f678a7b12","instanceIdentifier":"d1084fdd-019a-1000-3ff9-00ef87d8b3d9","name":"","source":{"id":"f4fc089d-91cf-3abb-9235-519cb47958c2","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"UpdateAttribute","comments":"","instanceIdentifier":"d107779a-019a-1000-190e-1452c3778df2"},"destination":{"id":"ad996423-7e5a-3d9c-b3a7-b0b0107ea127","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"Notify","comments":"","instanceIdentifier":"d108358e-019a-1000-0755-d834fb56abb2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"c24796c2-8e8c-31fc-8554-7f3bd1b7ba5b","instanceIdentifier":"d0daaa81-019a-1000-cdcb-296a644b178d","name":"","source":{"id":"75b337ed-1d7a-3731-ad8c-3a43414034ed","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"HandleHttpRequest","comments":"","instanceIdentifier":"d0d7d062-019a-1000-b58f-c90e55ca832e"},"destination":{"id":"b74d7057-7907-3b8e-b24d-c628ba74d4ad","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"RouteOnAttribute","comments":"","instanceIdentifier":"d182d503-019a-1000-954c-637530671375"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"c427cd0e-759b-3ddc-beb6-66790dc53e9f","instanceIdentifier":"d18a4254-019a-1000-cb7a-2e799816e136","name":"","source":{"id":"e6e6a0fe-d650-32e0-ba44-70afed7bb096","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"Wait","comments":"","instanceIdentifier":"d10fdeef-019a-1000-ae72-e5f09c42bd2a"},"destination":{"id":"10df4343-12ae-3a72-8f39-f84ca469baa6","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"HandleHttpResponse","comments":"","instanceIdentifier":"d1128bff-019a-1000-1bc2-6208288a97d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["wait","expired","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"5c535127-9170-3d44-87ef-7269a93e2909","instanceIdentifier":"d0ef99b1-019a-1000-5c57-822cd476b286","name":"","source":{"id":"17bb2b46-21a3-339a-935a-b9463d5a97af","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"UpdateAttribute","comments":"","instanceIdentifier":"d0914120-019a-1000-20cb-5182e61a2680"},"destination":{"id":"ec19f93e-e656-3f5a-ae7d-0c5669feffdd","type":"FUNNEL","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"Funnel","comments":"","instanceIdentifier":"d0e064cb-019a-1000-afc1-da39aa5c4900"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"e1fa0984-fcc5-38a1-905f-09f97e2573a7","instanceIdentifier":"d1a93cdb-019a-1000-dddb-7569b0e75302","name":"","source":{"id":"506baabd-4a17-36a9-9767-2c106e8ce14d","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"MergeContent","comments":"","instanceIdentifier":"d19a776e-019a-1000-aa70-02d302bfcda4"},"destination":{"id":"ef549caf-4149-3c0a-b1ea-37f619b84852","type":"PROCESSOR","groupId":"b541fd8b-3e35-3f34-9518-83d6127b1488","name":"LogMessage","comments":"","instanceIdentifier":"d08773ec-019a-1000-65fb-4c00f881759e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1724.0,"y":832.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"}],"labels":[],"funnels":[{"identifier":"ec19f93e-e656-3f5a-ae7d-0c5669feffdd","instanceIdentifier":"d0e064cb-019a-1000-afc1-da39aa5c4900","position":{"x":1504.0,"y":-40.0},"componentType":"FUNNEL","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"}],"controllerServices":[{"identifier":"a6ecfb5e-7df0-3dd0-b1e8-a442baecfbe5","instanceIdentifier":"d0e5b5da-019a-1000-93c4-b8e2686d8d0e","name":"StandardHttpContextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"1.28.0"},"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"},{"identifier":"7fbf4798-170c-30bc-a97e-290974f59219","instanceIdentifier":"d10eec9b-019a-1000-278e-1c26ece8c37b","name":"DistributedMapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.28.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b541fd8b-3e35-3f34-9518-83d6127b1488"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}